EDA on Geldiumâ€™s customer dataset

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("Delinquency_prediction_dataset.csv")

DISPLAYING FIRST 5 DATA

In [4]:
data.head()

,Customer_ID,Age,Income,Credit_Score,Credit_Utilization,Missed_Payments,Delinquent_Account,Loan_Balance,Debt_to_Income_Ratio,Employment_Status,Account_Tenure,Credit_Card_Type,Location,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6
0,CUST0001,56,165580.0,398.0,0.390502,3,0,16310.0,0.317396,EMP,18,Student,Los Angeles,Late,Late,Missed,Late,Missed,Late
1,CUST0002,69,100999.0,493.0,0.312444,6,1,17401.0,0.196093,Self-employed,0,Standard,Phoenix,Missed,Missed,Late,Missed,On-time,On-time
2,CUST0003,46,188416.0,500.0,0.359930,0,0,13761.0,0.301655,Self-employed,1,Platinum,Chicago,Missed,Late,Late,On-time,Missed,Late
3,CUST0004,32,101672.0,413.0,0.371400,3,0,88778.0,0.264794,Unemployed,15,Platinum,Phoenix,Late,Missed,Late,Missed,Late,Late
4,CUST0005,60,38524.0,487.0,0.234716,2,0,13316.0,0.510583,Self-employed,11,Standard,Phoenix,Missed,On-time,Missed,Late,Late,Late

DISPLAYING TOTAL NUMBER OF RECORDS

In [8]:
print("Number of records:",len(data))

Number of records: 500

CHECKING FOR MISSING VALUE PER COLUMN

In [10]:
print(data.isnull().sum())

Customer_ID              0
Age                      0
Income                  39
Credit_Score             2
Credit_Utilization       0
Missed_Payments          0
Delinquent_Account       0
Loan_Balance            29
Debt_to_Income_Ratio     0
Employment_Status        0
Account_Tenure           0
Credit_Card_Type         0
Location                 0
Month_1                  0
Month_2                  0
Month_3                  0
Month_4                  0
Month_5                  0
Month_6                  0
dtype: int64

We'll use:
# - Mean imputation for 'Income' and 'Credit_Score' as they appear well-balanced.
# - Median imputation for 'Loan_Balance' to be more robust to potential skewness/outliers.

Calculate the mean for 'Income','Credit_Score' and median for 'Loan_Balance'

In [16]:
mean_income = data['Income'].mean()
mean_credit_score = data['Credit_Score'].mean()
median_loan_balance = data['Loan_Balance'].median()

Fill missing values

In [18]:
data['Income'] = data['Income'].fillna(mean_income)
data['Credit_Score'] = data['Credit_Score'].fillna(mean_credit_score)
data['Loan_Balance'] = data['Loan_Balance'].fillna(median_loan_balance)

RECHECKING

In [20]:
print(data.isnull().sum())

Customer_ID             0
Age                     0
Income                  0
Credit_Score            0
Credit_Utilization      0
Missed_Payments         0
Delinquent_Account      0
Loan_Balance            0
Debt_to_Income_Ratio    0
Employment_Status       0
Account_Tenure          0
Credit_Card_Type        0
Location                0
Month_1                 0
Month_2                 0
Month_3                 0
Month_4                 0
Month_5                 0
Month_6                 0
dtype: int64

In [23]:
# Select only numerical columns for correlation analysis
numerical_cols = data.select_dtypes(include=['number']).columns.tolist()

# Calculate the correlation matrix
correlation_matrix = data[numerical_cols].corr()

In [24]:
print(correlation_matrix)

                           Age    Income  Credit_Score  Credit_Utilization  \
Age                   1.000000  0.006210     -0.033909            0.015811
Income                0.006210  1.000000      0.068457            0.039046
Credit_Score         -0.033909  0.068457      1.000000           -0.021498
Credit_Utilization    0.015811  0.039046     -0.021498            1.000000
Missed_Payments      -0.023511 -0.004524     -0.014802            0.019666
Delinquent_Account    0.022508  0.043897      0.034820            0.034224
Loan_Balance         -0.049328 -0.047793     -0.013941           -0.051570
Debt_to_Income_Ratio -0.007883 -0.061569     -0.005362           -0.064661
Account_Tenure        0.016942 -0.004735     -0.036875            0.065264

                      Missed_Payments  Delinquent_Account  Loan_Balance  \
Age                         -0.023511            0.022508     -0.049328
Income                      -0.004524            0.043897     -0.047793
Credit_Score                -0.014802            0.034820     -0.013941
Credit_Utilization           0.019666            0.034224     -0.051570
Missed_Payments              1.000000           -0.026478     -0.015141
Delinquent_Account          -0.026478            1.000000     -0.005438
Loan_Balance                -0.015141           -0.005438      1.000000
Debt_to_Income_Ratio         0.000148            0.034386      0.058261
Account_Tenure              -0.097345           -0.039829      0.052733

                      Debt_to_Income_Ratio  Account_Tenure
Age                              -0.007883        0.016942
Income                           -0.061569       -0.004735
Credit_Score                     -0.005362       -0.036875
Credit_Utilization               -0.064661        0.065264
Missed_Payments                   0.000148       -0.097345
Delinquent_Account                0.034386       -0.039829
Loan_Balance                      0.058261        0.052733
Debt_to_Income_Ratio              1.000000        0.026144
Account_Tenure                    0.026144        1.000000